html,
body {
  font-family: "Helvetica", sans-serif;
  font-size: 14px;
  margin: 0;
  min-height: 180px;
  padding: 0;
  width: 380px;
}
h1 {
  font-size: 2em;
  margin-top: 10px;
}
.title {
  text-align: center;
}
.title-icon {
  width: 5%;
  padding-right: 5px;
}
.title-description {
  margin-top: -20px;
  font-size: 1.5em;
}
.buttons-action {
  margin-top: 5px;
  width: 80%;
}
.show-sites {
  margin-bottom: 10px;
}
.hidden {
  display: none;
}
